#car-racing-setting-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 400px;
}

#car-count-setting-form {
  display: none;
  margin: 20px 0 0;
}

#car-count-setting-form.active {
  display: block;
}

#racing-ground-section {
  display: none;
  justify-content: center;
  margin: 20px 0 0;
}

#result-section {
  display: none;
  justify-content: center;
  margin: 20px 0 0;
}
