{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 13
  },
  "rules": {
    "no-unused-vars": "warn",
    "import/extensions": ["error", { "js": "always" }],
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-new": "off"
  }
}
