{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],

  "rules": {
    "no-unused-vars": "warn",
    "prettier/prettier": ["error"],
    "import/prefer-default-export": "off",
    "import/extensions": ["off"]
  }
}
