@import './shared/button.css';
@import './shared/layout.css';
@import './shared/sizing.css';
@import './shared/typhography.css';
@import './ui/spinner.css';

html,
body {
  margin: 0;
  height: 100%;
}

.car-player {
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  border-radius: 4px;
  outline: 0;
  border-style: none;
  background-color: #f5f5f5;
  display: inline-flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  position: relative;
}

.forward-icon {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

fieldset {
  border: none;
  padding: 0;
}

ul {
  list-style-type: none;
  padding:0;
}

.competition-list-container > ul {
  justify-content: center;
}

.d-flex.justify-center.items-center.mt-3 {
  flex-direction: column;
}

.competition-count-input-container, 
.competition-list-container, 
.competition-result {
  display: none;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}